<nav class="navbar navbar-default navbar-static-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<div class="icon-bar-container">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</div>
			</button>
			<a class="navbar-brand" href="#">
				<img src="//s3.amazonaws.com/rise-common/images/logo-small.png" class="img-responsive logo-small" width="113" height="42" alt="Rise Vision">
			</a>
		</div>
		<div class="collapse navbar-collapse navbar-left">
			<ul class="nav navbar-nav">
				<li>
					<a href="#/">Store</a>
				</li>
				<li>
					<a href="#/account">Account</a>
				</li>
				<li>
					<a href="#/sellers">Sellers</a>
				</li>
				<li class="dropdown">
					<a href="" class="dropdown-toggle" data-toggle="dropdown">
						Help
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="http://community.risevision.com/rise_vision_inc" class="item-name" target="_blank">Community</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="http://www.risevision.com/user-training/" class="item-name" target="_blank">Training</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="http://www.risevision.com/help/users/" class="item-name" target="_blank">Documentation</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<ul class="nav navbar-nav navbar-right actions-nav" ng-show="authStatus == 1">
			<li class="dropdown">
				<a href="" class="dropdown-toggle" data-toggle="dropdown">
					<i class="glyphicons bell"></i>
					<span class="label label-danger">{{messages.length}}</span>
				</a>
				<ul class="dropdown-menu system-messages">
					<li class="dropdown-header dropdown-title">
						System Message
					</li>
					<li class="divider"></li>
					<li class="system-message" ng-repeat="message in messages" ng-bind-html="message"></li>
				</ul>
			</li>
			<li class="shopping-cart" ng-init="updateCartIcon()" ng-show="isPurchaser">
				<a href="#/order">
					<i class="glyphicons shopping_cart"></i>
					<span id="cartBadge" class="label label-primary"></span>
				</a>
			</li>
			<li class="dropdown">
				<a href="" class="dropdown-toggle" data-toggle="dropdown">
					<i class="glyphicons show_thumbnails"></i>
				</a>
				<ul class="dropdown-menu company-menu">
					<li class="dropdown-header dropdown-title">
						Current App
					</li>
					<li class="dropdown-header">
						<i class="glyphicons shop"></i> Store
					</li>
					<li class="divider"></li>
					<li>
						<div class="menu-box pull-left">
							<a href="#">
								<i class="glyphicons picture"></i>
								<span>Displays</span>
							</a>
						</div>
						<div class="menu-box pull-right">
							<a href="#">
								<i class="glyphicons picture"></i>
								<span>Scheduler</span>
							</a>
						</div>
					</li>
					<li>
						<div class="menu-box pull-left">
							<a href="#">
								<i class="glyphicons picture"></i>
								<span>Editor</span>
							</a>
						</div>
						<div class="menu-box pull-right">
							<a href="#">
								<i class="glyphicons picture"></i>
								<span>Storage</span>
							</a>
						</div>
					</li>
					<li>
						<div class="menu-box pull-left">
							<a href="#">
								<i class="glyphicons picture"></i>
								<span>Bulletin</span>
							</a>
						</div>
						<div class="menu-box pull-right">
							<a href="#">
								<i class="glyphicons picture"></i>
								<span>Player</span>
							</a>
						</div>
					</li>
				</ul>
			</li>
			<li class="dropdown" ng-show="companyLoaded">
				<a href="" class="dropdown-toggle" data-toggle="dropdown">
					<i class="glyphicons cogwheel"></i>
				</a>
				<ul class="dropdown-menu">
					<li class="dropdown-header dropdown-title">
						Current Company
					</li>
					<li class="dropdown-header">
						<i class="glyphicons home"></i>
						<i class="glyphicons warning_sign glyphicon-danger"></i>
						{{selectedCompanyName}}
						<div class="danger">Your Current Company is not the<br> same Company your User Account is<br> associated with.</div>
					</li>
					<li class="divider"></li>
					<li ng-show="canChangeCompany">
						<a href="" ng-click="resetCompany()">
							<i class="glyphicons home"></i>
							<span class="item-name">Switch To My Company</span>
						</a>
					</li>
					<li class="divider" ng-show="canChangeCompany"></li>
					<li ng-show="canChangeCompany">
						<a href="" ng-click="switchCompany()">
							<i class="glyphicons new_window"></i>
							<span class="item-name">Select Sub-Company</span>
						</a>
					</li>
					<li class="divider" ng-show="canChangeCompany"></li>
					<li>
						<a href="" ng-click="showAddSubCompany()">
							<i class="glyphicons plus"></i>
							<span class="item-name">Add Sub-Company</span>
						</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="" ng-click="showCompanySettings()">
							<i class="glyphicons cogwheels"></i>
							<span class="item-name">Company Settings</span>
						</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="" ng-click="showCompanyUsers()">
							<i class="glyphicons group"></i>
							<span class="item-name">Company Users</span>
						</a>
					</li>
				</ul>
			</li>
			<li class="dropdown">
				<a href="" class="dropdown-toggle" data-toggle="dropdown">
					<img ng-src="{{userProfilePicture}}" class="profile-pic" width="30" height="30" alt="User" />
				</a>
				<ul class="dropdown-menu">
					<li class="dropdown-header dropdown-title">
						{{userProfileName}}
					</li>
					<li class="dropdown-header">
						{{userProfileEmail}}
					</li>
					<li class="divider"></li>
					<li>
						<a href="" ng-click="showUserSettings()">
							<i class="glyphicons cogwheels"></i>
							<span class="item-name">User Settings</span>
						</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="" ng-click="logout()">
							<i class="glyphicons log_out"></i>
							<span class="item-name">Sign Out</span>
						</a>
					</li>
				</ul>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right" ng-show="authStatus == 0">
			<li>
				<a href="" class="sign-in" ng-click="login()">
					<span>Sign In</span>
					<i class="glyphicons log_in"></i>
				</a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right" ng-show="authStatus == -1">
			<li>Loading...</li>
		</ul>
	</div>
</nav>

<!-- Add Sub-Company Modal -->
<div id="sub-company-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="sub-company-label" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					<i class="glyphicons remove"></i>
				</button>
				<h2 id="sub-company-label" class="modal-title">Add Sub-Company</h2>
			</div>
			<div class="modal-body">
				<form role="form">
					<div class="form-group">
						<label for="sub-company-name">
							Name
						</label>
						<input id="sub-company-name" type="text" class="form-control" ng-model="company.name" />
					</div>
					<div class="form-group">
						<label for="sub-company-street">
							Street
						</label>
						<input id="sub-company-street" type="text" class="form-control" ng-model="company.street" />
					</div>
					<div class="form-group">
						<label for="sub-company-unit">
							Unit
						</label>
						<input id="sub-company-unit" type="text" class="form-control" ng-model="company.unit" />
					</div>
					<div class="form-group">
						<label for="sub-company-city">
							City
						</label>
						<input id="sub-company-city" type="text" class="form-control" ng-model="company.city" />
					</div>
					<div class="form-group">
						<label for="sub-company-country">
							Country
						</label>
						<select id="sub-company-country" class="form-control selectpicker" ng-model="company.country" ng-options="c[1] as c[0] for c in countries">
							<option value="">&lt; Select Country &gt;</option>
						</select>
					</div>
					<div class="form-group">
						<label for="sub-company-state">
							State / Province
						</label>
						<input id="sub-company-state" type="text" class="form-control" ng-model="company.province" ng-hide="company.country == 'US' || company.country == 'CA'" />
						<select class="form-control selectpicker" ng-model="company.province" ng-options="c[1] as c[0] for c in regionsCA" ng-show="company.country == 'CA'">
							<option value="">&lt; Select Province &gt;</option>
						</select>
						<select class="form-control selectpicker" ng-model="company.province" ng-options="c[1] as c[0] for c in regionsUS" ng-show="company.country == 'US'">
							<option value="">&lt; Select State &gt;</option>
						</select>
					</div>
					<div class="form-group">
						<label for="sub-company-zip">
							Zip / Postal Code
						</label>
						<input id="sub-company-zip" type="text" class="form-control" ng-model="company.postalCode" />
					</div>
					<div class="form-group">
						<label for="sub-company-monitoring">
							Send Monitoring Emails To
						</label>
						<input id="sub-company-monitoring" type="email" class="form-control" />
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary btn-fixed-width" data-dismiss="modal">Save
					<i class="glyphicons white ok icon-right"></i>
				</button>
				<button type="button" class="btn btn-primary btn-fixed-width" data-dismiss="modal" aria-hidden="true">Cancel
					<i class="glyphicons white remove icon-right"></i>
				</button>
			</div>
		</div>
	</div>
</div>

<!-- Company Settings Modal -->
<div id="company-settings-modal" class="company-settings modal fade" tabindex="-1" role="dialog" aria-labelledby="company-settings-label" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					<i class="glyphicons remove"></i>
				</button>
				<h2 id="company-settings-label" class="modal-title">Company Settings</h2>
			</div>
			<div class="modal-body">
				<form role="form">
					<div class="form-group">
						<label for="company-settings-name">
							Name
						</label>
						<input id="company-settings-name" type="text" class="form-control" ng-model="company.name" />
					</div>
					<div class="form-group">
						<label for="company-settings-street">
							Street
						</label>
						<input id="company-settings-street" type="text" class="form-control" ng-model="company.street" />
					</div>
					<div class="form-group">
						<label for="company-settings-unit">
							Unit
						</label>
						<input id="company-settings-unit" type="text" class="form-control" ng-model="company.unit" />
					</div>
					<div class="form-group">
						<label for="company-settings-city">
							City
						</label>
						<input id="company-settings-city" type="text" class="form-control" ng-model="company.city" />
					</div>
					<div class="form-group">
						<label for="company-settings-country">
							Country
						</label>
						<select id="company-settings-country" class="form-control selectpicker" ng-model="company.country" ng-options="c[1] as c[0] for c in countries">
							<option value="">&lt; Select Country &gt;</option>
						</select>
					</div>
					<div class="form-group">
						<label for="company-settings-state">
							State / Province
						</label>
						<input id="company-settings-state" type="text" class="form-control" ng-model="company.province" ng-hide="company.country == 'US' || company.country == 'CA'" />
						<select class="form-control selectpicker" ng-model="company.province" ng-options="c[1] as c[0] for c in regionsCA" ng-show="company.country == 'CA'">
							<option value="">&lt; Select Province &gt;</option>
						</select>
						<select class="form-control selectpicker" ng-model="company.province" ng-options="c[1] as c[0] for c in regionsUS" ng-show="company.country == 'US'">
							<option value="">&lt; Select State &gt;</option>
						</select>
					</div>
					<div class="form-group">
						<label for="company-settings-zip">
							Zip / Postal Code
						</label>
						<input id="company-settings-zip" type="text" class="form-control" ng-model="company.postalCode" />
					</div>
					<div class="form-group">
						<label for="company-settings-phone">
							Telephone
						</label>
						<input id="company-settings-phone" type="tel" class="form-control" />
					</div>
					<div class="form-group">
						<label for="company-settings-monitoring">
							Send Monitoring Emails To
						</label>
						<input id="company-settings-monitoring" type="email" class="form-control" />
					</div>
					<div class="form-group">
						<label>
							Authentication Key
						</label>
						<a class="action-link" href="">Reset</a>
						<div>authKey</div>
					</div>
					<div class="form-group">
						<label>
							Claim ID
						</label>
						<a class="action-link" href="">Reset</a>
						<div>abc123</div>
					</div>
					<div class="form-group">
						<label>
							Sub-Company Home Page Presentation
						</label>
						<a class="action-link" href="" ng-click="selectPresentation()">Select</a>
						<a class="action-link" href="">Default</a>
						<div id="presentation-name">Rise Vision Default</div>
						<div class="panel panel-default presentation-selector">
							<div class="panel-heading">
								Select a Presentation
							</div>
							<div class="panel-body">
								<div class="input-group search">
									<input type="text" class="form-control" placeholder="Search Presentations">
									<span class="input-group-btn">
										<button class="btn btn-primary" type="submit">
											<i class="glyphicon glyphicon-search"></i>
										</button>
									</span>
								</div>
								<div class="list-group scrollable-list">
									<a href="" class="list-group-item" ng-click="setPresentation('Demo Presentation')">
										Demo Presentation
									</a>
									<a href="" class="list-group-item" ng-click="setPresentation('My First Presentation')">
										My First Presentation
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="company-settings-community-url">
							Sub-Company Community URL
						</label>
						<a class="action-link" href="">Default</a>
						<input id="company-settings-community-url" type="url" class="form-control" />
					</div>
					<div class="form-group">
						<label for="company-settings-support-url">
							Sub-Company Support URL
						</label>
						<a class="action-link" href="">Default</a>
						<input id="company-settings-support-url" type="url" class="form-control" />
					</div>
					<div class="form-group">
						<label for="company-settings-status">
							Status
						</label>
						<select id="company-settings-status" class="form-control selectpicker">
							<option value="active">Active</option>
							<option value="inactive">Inactive</option>
						</select>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary btn-fixed-width" data-dismiss="modal">Save
					<i class="glyphicons white ok icon-right"></i>
				</button>
				<button type="button" class="btn btn-danger btn-fixed-width" aria-hidden="true" ng-show="showCompanySettingsDelete" ng-click="deleteCompany()">
					Delete <i class="glyphicons white bin icon-right"></i>
				</button>
				<button type="button" class="btn btn-danger fade confirm-delete" data-dismiss="modal" aria-hidden="true" ng-class="{in:showCompanySettingsConfirm}">
					Confirm Deletion <i class="glyphicons white warning_sign icon-right"></i>
				</button>
				<button type="button" class="btn btn-primary btn-fixed-width" data-dismiss="modal" aria-hidden="true">Cancel
					<i class="glyphicons white remove icon-right"></i>
				</button>
			</div>
		</div>
	</div>
</div>

<!-- Company Users Modal -->
<div id="company-users-modal" class="company-users modal fade" tabindex="-1" role="dialog" aria-labelledby="company-users-label" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					<i class="glyphicons remove"></i>
				</button>
				<h2 id="company-users-label" class="modal-title">Company Users</h2>
			</div>
			<div class="modal-body">
				<form role="form">
					<div class="row">
						<div class="col-md-2 sort">
							<label for="sort">Sort By</label>
						</div>
						<div class="col-md-5">
							<select id="sort" class="form-control selectpicker">
								<option value="user-name">Username</option>
								<option value="name">Name</option>
								<option value="status">Status</option>
								<option value="last-login">Last Login</option>
							</select>
						</div>
					</div>
					<div class="row">
						<div class="col-md-2">
							<label for="direction">Direction</label>
						</div>
						<div class="col-md-5">
							<label class="radio-inline">
								<input type="radio" name="direction" value="asc" checked> Ascending
							</label>
							<label class="radio-inline">
								<input type="radio" name="direction" value="desc"> Descending
							</label>
						</div>
						<div class="col-md-5 text-right">
							<a href="">Download to CSV</a>
						</div>
					</div>
				</form>
				<div class="list-group scrollable-list">
					<div class="list-group-item">
						<h3 class="list-group-item-heading">
							<a href="" ng-click="showUserSettings()">bld@riseholdings.com</a>
						</h3>
						<div class="list-group-item-text">
							Byron Darlison<br>
							Editor, Publisher, Display, Administrator, System<br>
							Last Logged In 03/24/14 6:35PM<br>
							Active
						</div>
					</div>
					<div class="list-group-item">
						<h3 class="list-group-item-heading">
							<a href="" ng-click="showUserSettings()">robb.price@risevision.com</a>
						</h3>
						<div class="list-group-item-text">
							Robb Price<br>
							Editor, Publisher, Display<br>
							Last Logged In 12/05/13 9:01AM<br>
							Inactive
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="showUserSettings()">Add User
					<i class="glyphicons white plus icon-right"></i>
				</button>
			</div>
		</div>
	</div>
</div>

<!-- User Settings Modal -->
<div id="user-settings-modal" class="user-settings modal fade" tabindex="-1" role="dialog" aria-labelledby="user-settings-label" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					<i class="glyphicons remove"></i>
				</button>
				<h2 id="user-settings-label" class="modal-title">User Settings</h2>
			</div>
			<div class="modal-body">
				<form role="form">
					<div class="form-group">
						<label>
							Username
						</label>
						<div>bloosbrock@gmail.com</div>
					</div>
					<div class="form-group">
						<label for="user-settings-first-name">
							First Name
						</label>
						<input id="user-settings-first-name" type="text" class="form-control" />
					</div>
					<div class="form-group">
						<label for="user-settings-last-name">
							Last Name
						</label>
						<input id="user-settings-last-name" type="text" class="form-control" />
					</div>
					<div class="form-group">
						<label for="user-settings-phone">
							Telephone
						</label>
						<input id="user-settings-phone" type="tel" class="form-control" />
					</div>
					<div class="form-group">
						<label for="user-settings-email">
							Email
						</label>
						<input id="user-settings-email" type="email" class="form-control" />
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox"> Subscribe To Email Updates
						</label>
					</div>
					<div class="form-group">
						<label>
							Roles
						</label>
						<div class="checkbox">
							<label>
								<input type="checkbox"> Editor
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox"> Publisher
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox"> Display
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox"> Administrator
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox"> System
							</label>
						</div>
					</div>
					<div class="form-group">
						<label>
							Last Login
						</label>
						<div>03/24/14 3:59 PM</div>
					</div>
					<div class="form-group">
						<label for="user-settings-status">
							Status
						</label>
						<select id="user-settings-status" class="form-control selectpicker">
							<option value="active">Active</option>
							<option value="inactive">Inactive</option>
						</select>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary btn-fixed-width" data-dismiss="modal">
					Save <i class="glyphicons white ok icon-right"></i>
				</button>
				<button type="button" class="btn btn-danger btn-fixed-width" aria-hidden="true" ng-show="showUserSettingsDelete" ng-click="deleteUser()">
					Delete <i class="glyphicons white bin icon-right"></i>
				</button>
				<button type="button" class="btn btn-danger fade confirm-delete" data-dismiss="modal" aria-hidden="true" ng-class="{in:showUserSettingsConfirm}">
					Confirm Deletion <i class="glyphicons white warning_sign icon-right"></i>
				</button>
				<button type="button" class="btn btn-primary btn-fixed-width" data-dismiss="modal" aria-hidden="true">
					Cancel <i class="glyphicons white remove icon-right"></i>
				</button>
			</div>
		</div>
	</div>
</div>